@charset "ISO-8859-1";

@charset "ISO-8859-1";

* {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

body {
	background-image: url(/img/registration.avif);
	background-size: cover;
	color: #fff;
}

.registration-form {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 350px;
}

.registration-form h1 {
	font-size: 40px;
	text-align: center;
	text-transform: uppercase;
	margin: 35px 2;
	margin-top: 50px;
}

.registration-form p {
	font-size: 20px;
	margin: 10px 0;
	margin-left: 10px;
}

.registration-form input {
	font-size: 16px;
	padding: 10px 10px;
	width: 90%;
	height: 5%;
	border: 0;
	border-radius: 5px;
	outline: none;
	margin-left: 10px;
}

.registration-form select {
	font-size: 16px;
	padding: 10px 10px;
	width: 90%;
	height: 5%;
	border: 0;
	border-radius: 5px;
	outline: none;
}

.Btn{
	position: absolute;
	gap: 10px;
	margin-top: 10px;
	margin-left: 10px;
	
}
.btn{
	background-color: #008B8B !important;
	border-color: transparent;
}
